<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title th:text="${blog.title}">blog information</title>


    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" th:href="@{/css/zerogrid.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/responsiveslides.css}">
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery183.min.js}"></script>
    <script th:src="@{/js/responsiveslides.min.js}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a th:href="@{http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode}">
            <img th:src="@{tp://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg}" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script th:src="@{/html5.js}"></script>
    <script th:src="@{/css3-mediaqueries.js}"></script>
    <![endif]-->

</head>
<body>
<div class="wrap-body">

    <!--////////////////////////////////////Header-->
    <header>
        <div class="top-header">
            <div class="zerogrid">
                <nav id="menu-wrap">
                    <div id="menu-trigger">Menu</div>
                    <ul id="menu" style="display: none;">
                        <li><a href="../index">Home</a></li>
                        <li>
                            <a href="#">Categories</a>
                            <ul>
                                <li  th:each="category : ${categoryList}">
                                    <a  th:utext="${category.name}"></a>
                                </li>
                            </ul>


                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<a href="#">Item 01</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Item 02</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Item 03</a>-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">Item 31</a></li>-->
                                        <!--<li><a href="#">Item 32</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Item 04</a>-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">Item 41</a></li>-->
                                        <!--<li><a href="#">Item 42</a></li>-->
                                        <!--<li><a href="#">Item 43</a></li>-->
                                        <!--<li><a href="#">Item 44</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        </li>
<!--                        <li><a href="single.html">About</a></li>-->
<!--                        <li><a href="contact.html">Contact</a></li>-->
                        <li style="float:right !important">
                            <form method="get" action="/search" id="search" class="f-right">
                                <input name="q" type="text" size="40" placeholder="Search..."/>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
       <!-- <div class="clearfix">
            <div class="wrap-header">
                <div class="row">
                    <div class="col-full t-center">
                        <div class="wrap-col">
                            <div class="logo"><a href="#"><img th:src="@{/images/logo.png}"/></a></div>
                            <div class="tagline">Temporibus autem quibusdam et aut officiis</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
       <!-- <div class="zerogrid">
            <div class="cat-title t-center">
                <a href="#">TEMPLATE</a>
            </div>
        </div>-->
    </header>

    <section id="container">
        <div class="zerogrid">
            <div class="wrap-container clearfix">
                <div class="row">
                    <!-- blog content -->
                    <div id="main-content" class="col-2-3">
                        <div class="wrap-content">
                            <article>
                                <div class="art-header">
                                    <div class="entry-title">
                                        <a href="#" th:text="${blog.title}"></a>
                                    </div>
                                    <span th:text="${#dates.format(blog.createdDatetime,'yyyy-MM-dd hh:mm:ss')}"></span>
                                </div>
                                <img th:src="${blog.cover}" alt="..." src="/assets/img/1.jpg"/>

                                <div class="art-content">
                                    <div class="excerpt" th:utext="${blog.content}"></div>
                                </div>

                            </article>
                        </div>
                    </div>

                    <div id="sidebar" class="col-1-3">
                        <!---- Start Widget ---->
                        <div class="widget wid-about">
                            <div class="wid-header">
                                <h5>ABOUT ME</h5>
                            </div>
                            <div class="wid-content">
                                <img th:src="@{/images/10.jpg}"/>
                                <p>常常为了碎片化的知识无法累积而苦恼,于是就在业余时间做了个人博客网站,将一些获得累积下来,希望以后的自己会感谢曾经努力的自己.</p>
                            </div>
                        </div>
                        <!---- Start Widget ---->
                        <!--<div class="widget wid-follow">
                            <div class="wid-header">
                                <h5>FOLLOW ME</h5>
                            </div>
                            <div class="wid-content">
                                <ul class="quick-link">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>-->
                        <!---- Start Widget ---->
                        <!--<div class="widget wid-post">
                            <div class="wid-header">
                                <h5>Latest Posts</h5>
                            </div>
                            <div class="wid-content">
                                <div class="post">
                                    <div class="zoom-container">
                                        <a href="single.html">
                                            <img th:src="@{/images/11.jpg}"/>
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">Video's Name</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post">
                                    <div class="zoom-container">
                                        <a href="single.html">
                                            <img th:src="@{/images/12.jpg}"/>
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">Video's Name</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post">
                                    <div class="zoom-container">
                                        <a href="single.html">
                                            <img th:src="@{/images/13.jpg}"/>
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">Video's Name</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post">
                                    <div class="zoom-container">
                                        <a href="single.html">
                                            <img th:src="@{/images/14.jpg}"/>
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">Video's Name</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span><i class="fa fa-heart"></i>1,200</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!---- Start Widget ---->
                        <!--<div class="widget wid-category">
                            <div class="wid-header">
                                <h5>CATEGORIES</h5>
                            </div>
                            <div class="wid-content">
                                <ul>
                                    <li><a href="#">Post Formats</a></li>
                                    <li><a href="#">Template</a></li>
                                    <li><a href="#">Cat A</a></li>
                                    <li><a href="#">Edge Case</a></li>
                                    <li><a href="#">Cat B</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <!---- Start Widget ---->
                        <!--<div class="widget wid-subcribe">
                            <div class="wid-header">
                                <h5>SUBSCRIBE TO BLOG VIA EMAIL</h5>
                            </div>
                            <div class="wid-content">
                                <p>Enter your email address to subscribe to this blog and receive notifications of new
                                    posts by email.</p>
                                <span>Join 4 other subscribers</span>
                                <form method="get" action="/search" id="subcribe">
                                    <input name="q" type="text" size="40" placeholder="Email Address"/>
                                </form>
                                <a class="button button03" href="#">SUBSCRIBE</a>
                            </div>
                        </div>-->
                        <!---- Start Widget ---->
                        <!--<div class="widget wid-follow">
                            <div class="wid-header">
                                <h5>FOLLOW ME ON INSTAGRAM</h5>
                            </div>
                            <div class="wid-content">
                                <div class="row">
                                    <div class="col-1-3">
                                        <div class="wrap-col">
                                            <a href="#"><img th:src="@{/images/15.jpg}"/></a>
                                            <a href="#"><img th:src="@{/images/16.jpg}"/></a>
                                            <a href="#"><img th:src="@{/images/17.jpg}"/></a>
                                        </div>
                                    </div>
                                    <div class="col-1-3">
                                        <div class="wrap-col">
                                            <a href="#"><img th:src="@{/images/18.jpg}"/></a>
                                            <a href="#"><img th:src="@{/images/19.jpg}"/></a>
                                            <a href="#"><img th:src="@{/images/20.jpg}"/></a>
                                        </div>
                                    </div>
                                    <div class="col-1-3">
                                        <div class="wrap-col">
                                            <a href="#"><img th:src="@{/images/21.jpg}"/></a>
                                            <a href="#"><img th:src="@{/images/22.jpg}"/></a>
                                            <a href="#"><img th:src="@{/images/23.jpg}"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--////////////////////////////////////Footer-->
    <footer>
        <div class="zerogrid">
            <div class="wrap-footer t-center">
                <div class="row">
                    <div class="full">
                        <ul class="quick-link">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-github"></i></a></li>
                        </ul>
                        <div class="copy-right">
                            <p>Copyright 2019 - 更多信息 <a href="https://github.com/Foolmouse" target="_blank"
                                                                  title="github">我的github</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        $(function () {

            if ($.browser.msie && $.browser.version.substr(0, 1) < 7) {
                $('li').has('ul').mouseover(function () {
                    $(this).children('ul').css('visibility', 'visible');
                }).mouseout(function () {
                    $(this).children('ul').css('visibility', 'hidden');
                })
            }

            /* Mobile */
            $("#menu-trigger").on("click", function () {
                $("#menu").slideToggle();
            });

            // iPad
            var isiPad = navigator.userAgent.match(/iPad/i) != null;
            if (isiPad) $('#menu ul').addClass('no-transition');

        });
    </script>


</div>
</body>
</html>