<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>

    <!--Favicon -->R
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <!--Bootstrap.min css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

    <!--Icons css-->
    <link rel="stylesheet" th:href="@{/assets/css/icons.css}">

    <!--Style css-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--mCustomScrollbar css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}">

    <!--Sidemenu css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/toggle-menu/sidemenu.css}">

    <!--Morris css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/morris/morris.css}">

</head>

<body class="app ">

<div id="spinner"></div>

<div id="app">
    <div class="main-wrapper">
        <!-- 上方导航栏 -->
        <nav class="navbar navbar-expand-lg main-navbar">
            <a class="header-brand" th:href="@{index.html}">
                <img th:src="@{/assets/img/brand/logo.png}" class="header-brand-img" alt="Manager  logo">
            </a>
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                            class="ion ion-navicon-round"></i></a></li>
                    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i
                            class="ion ion-search"></i></a></li>
                </ul>
                <div class="search-element">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
                </div>
            </form>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                             class="nav-link notification-toggle nav-link-lg beep"><i
                        class="ion-ios-email-outline"></i></a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header">Messages
                            <div class="float-right">
                                <a href="#">View All</a>
                            </div>
                        </div>
                        <div class="dropdown-list-content">
                            <a href="#" class="dropdown-item dropdown-item-unread">
                                <img alt="image" th:src="@{assets/img/avatar/avatar-1.jpg}"
                                     class="rounded-circle dropdown-item-img">
                                <div class="dropdown-item-desc">
                                    <div class="dropdownmsg d-flex">
                                        <div class="">
                                            <b>Stewart Ball</b>
                                            <p>Your template awesome</p>
                                        </div>
                                        <div class="time">6 hours ago</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                             class="nav-link  nav-link-lg beep"><i
                        class="ion-ios-bell-outline"></i></a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header">Notifications
                            <div class="float-right">
                                <a href="#">View All</a>
                            </div>
                        </div>
                        <div class="dropdown-list-content">
                            <a href="#" class="dropdown-item">
                                <i class="fa fa-users text-primary"></i>
                                <div class="dropdown-item-desc">
                                    <b>So many Users Visit your template</b>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-list-toggle">
                    <a href="#" class="nav-link nav-link-lg full-screen-link">
                        <i class="ion-arrow-expand" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                    <img th:src="@{/assets/img/avatar/avatar-1.jpg}" alt="profile-user" class="rounded-circle w-32">
                    <div class="d-sm-none d-lg-inline-block">Dunk Luo</div>
                </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="profile.html" class="dropdown-item has-icon">
                            <i class="ion ion-android-person"></i> Profile
                        </a>
                        <a href="profile.html" class="dropdown-item has-icon">
                            <i class="ion-android-drafts"></i> Messages
                        </a>
                        <a href="profile.html" class="dropdown-item has-icon">
                            <i class="ion ion-gear-a"></i> Settings
                        </a>
                        <a href="/logout" class="dropdown-item has-icon">
                            <i class="ion-ios-redo"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- 左侧导航栏 -->
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <div class="dropdown">
                    <a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
                        <img alt="image" th:src="@{/assets/img/avatar/avatar-1.jpg}" class=" avatar-md rounded-circle">
                        <span class="ml-2 d-lg-block">
									<span class="text-white app-sidebar__user-name mt-5">Dunk Luo</span><br>
									<span class="text-muted app-sidebar__user-name text-sm">web developer</span>
								</span>
                    </a>
                </div>
            </div>
            <ul class="side-menu">
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#"><i
                            class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">操作板</span><i
                            class="angle fa fa-angle-right"></i></a>
                    <ul class="slide-menu">
                        <li><a class="slide-item" href="/index"><span>首页</span></a></li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#"><i
                            class="side-menu__icon fa fa-table"></i><span class="side-menu__label">日志</span><i
                            class="angle fa fa-angle-right"></i></a>
                    <ul class="slide-menu">
                        <li><a href="/index/portalLog" class="slide-item">门户访问日志</a></li>
                        <li><a href="/index/loginLog" class="slide-item">后台操作日志</a></li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#"><i
                            class="side-menu__icon fa fa-file-text"></i><span class="side-menu__label">博客</span><i
                            class="angle fa fa-angle-right"></i></a>
                    <ul class="slide-menu">
                        <li><a href="/index/addBlog" class="slide-item">添加博客</a></li>
                        <li><a href="/index/blogList" class="slide-item">博客管理</a></li>
                    </ul>
                </li>
            </ul>
        </aside>

        <div class="app-content">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/#}">博客</a></li>
                <li class="breadcrumb-item active" aria-current="page">编辑博客</li>
            </ol>

            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>新建博客文章</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" th:action="@{/blog/{action}(action=${action})}" method="post">
                                <div>
                                    <input type="hidden" name="id" th:value="${blog.id}"/>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">标题</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="book_name" name="name"
                                               th:value="${blog.title}"
                                               th:field="*{blog.title}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">作者</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="blog_writer" name="writer"
                                               th:value="${blog.writer}" th:field="*{blog.writer}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">分类</label>
                                    <div class="col-md-9">
                                        <select class="form-control" th:field="*{blog.category}" id="sel"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">内容</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" th:field="*{blog.content}" rows="12"
                                                  id="editor">Hiiiii.....</textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">Readonly</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" readonly="" value="Readonly value">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">Disabled</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" disabled="" value="Disabled value">
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <label class="col-md-1 col-form-label">Number</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="number" name="number">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


            <footer class="main-footer">
                <div class="text-center">
                    Copyright &copy;Kharna-Admin 2018. Design By<a th:href="@{/https://spruko.com/}"> Spruko</a>
                </div>
            </footer>

        </div>


    </div>

    <!--Jquery.min js-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>

    <!--popper js-->
    <script th:src="@{/assets/js/popper.js}"></script>

    <!--Tooltip js-->
    <script th:src="@{/assets/js/tooltip.js}"></script>

    <!--Bootstrap.min js-->
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

    Jquery.nicescroll.min js
    <script th:src="@{/assets/plugins/nicescroll/jquery.nicescroll.min.js}"></script>

    <!--Scroll-up-bar.min js-->
    <script th:src="@{/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js}"></script>

    <!--Sidemenu js-->
    <script th:src="@{/assets/plugins/toggle-menu/sidemenu.js}"></script>

    <!--mCustomScrollbar js-->
    <script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js}"></script>

    <!--Scripts js-->
    <script th:src="@{/assets/js/scripts.js}"></script>

    <!-- ckEditor -->
    <script th:src="@{/ckeditor5-build-classic/ckeditor.js}"></script>

    <script>
        $(function () {
            // Ckeditor 5
            ClassicEditor.create(document.querySelector('#editor'), {
                // extraPlugins: [MyCustomUploadAdapterPlugin]
                ckfinder: {
                    uploadUrl: '/image/loadImage'// 这个就是我上次的图片路径，我也不知道是不是这样配，但是我就是这样搞得，在后台可以接受到。
                }
            }).then().catch();

            var writer = $("#blog_writer").val();
            if (writer == '') {
                $("#blog_writer").val('罗炬');
            }
            $.getJSON("/json/category.json", function (data) {
                $.each(data, function (index, item) {
                    //使用纯js为select动态添加option
                    document.getElementById("sel").options.add(new Option(data[index].name, data[index].index));
                })
            });
        });
    </script>


</body>
</html>