<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>书籍列表</title>
</head>

<script>
    function deleteBlog(blogId) {
        if (window.confirm('你确定要删除该条博文吗？')) {
            location.href = "/blog/delete/" + blogId;
        } else {
            return;
        }
    }

</script>

<body>

<div class="contentDiv">

    <h5>博客文章列表 </h5>

    <table class="table table-hover table-condensed">
        <legend>
            <strong>博客列表</strong>
        </legend>
        <thead>
        <tr>
            <th>博客编号</th>
            <th>标题</th>
            <th>作者</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog : ${blogList}">
            <th scope="row" th:text="${blog.id}"></th>
            <td><a th:href="@{/blog/update/{blogId}(blogId=${blog.id})}" th:text="${blog.title}"></a></td>
            <td th:text="${blog.writer}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{/blog/update/{blogId}(blogId=${blog.id})}">编辑</a>
                <a class="btn btn-danger" th:onclick="'deleteBlog('+${blog.id}+');'">
                    <!--th:href="@{/blog/delete/{blogId}(blogId=${blog.id})}"--> 删除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div><a class="btn btn-primary" href="/blog/create" role="button">新增博客</a></div>
</div>

</body>
</html>