<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>

    <!--Favicon -->R
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <!--Bootstrap.min css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

    <!--Icons css-->
    <link rel="stylesheet" th:href="@{/assets/css/icons.css}">

    <!--Style css-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--mCustomScrollbar css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}">

    <!--Sidemenu css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/toggle-menu/sidemenu.css}">

    <!--Morris css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/morris/morris.css}">

</head>

<body class="app ">

<div id="spinner"></div>

<div id="app">
    <div class="main-wrapper">
        <!--上导航栏-->
        <div class="panelBar" th:replace="iframe::top-navigator"></div>
        <!--左导航栏-->
        <div class="panelBar" th:replace="iframe::left-navigator"></div>


        <div class="app-content">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/#}">博客</a></li>
                <li class="breadcrumb-item active" aria-current="page">编辑博客</li>
            </ol>

            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>编辑博客文章</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" th:action="@{/blog/{action}(action=${action})}" method="post">
                                <div>
                                    <input type="hidden" name="id" th:value="${blog.id}"/>
                                    <!--<input type="hidden" name="createdDatetime" th:value="${#dates.format(blog.createdDatetime,'yyyy-MM-dd hh:mm:ss')}"/>-->
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">标题</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="book_name" name="name"
                                               th:value="${blog.title}"
                                               th:field="*{blog.title}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">作者</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="blog_writer" name="writer"
                                               th:value="${blog.writer}" th:field="*{blog.writer}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">分类</label>
                                    <div class="col-md-9">
                                        <!--<select class="form-control" th:field="*{blog.category}" id="sel"></select>-->
                                        <select  class="form-control" th:field="*{blog.categoryId}" >
                                            <option th:each="category:${categoryList}" th:text="${category.name}"
                                                    th:value="${category.id}" ></option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">封面图片</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" th:field="*{blog.cover}" rows="12"
                                                  id="editor_cover">这是封面图片</textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">内容摘要</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" th:field="*{blog.abstractContent}" id="abstractContent"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">内容</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" th:field="*{blog.content}" rows="12"
                                                  id="editor_content">Hiiiii.....</textarea>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panelBar" th:replace="iframe::foot"></div>

        </div>
    </div>

    <!--Jquery.min js-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>

    <!--popper js-->
    <script th:src="@{/assets/js/popper.js}"></script>

    <!--Tooltip js-->
    <script th:src="@{/assets/js/tooltip.js}"></script>

    <!--Bootstrap.min js-->
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

    <!--Jquery.nicescroll.min js-->
    <script th:src="@{/assets/plugins/nicescroll/jquery.nicescroll.min.js}"></script>

    <!--Scroll-up-bar.min js-->
    <script th:src="@{/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js}"></script>

    <!--Sidemenu js-->
    <script th:src="@{/assets/plugins/toggle-menu/sidemenu.js}"></script>

    <!--mCustomScrollbar js-->
    <script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js}"></script>

    <!--Scripts js-->
    <script th:src="@{/assets/js/scripts.js}"></script>

    <!-- ckEditor -->
    <script th:src="@{/ckeditor5-build-classic/ckeditor.js}"></script>

    <script>
        $(function () {
            ClassicEditor.create(document.querySelector('#editor_cover'), {
                // extraPlugins: [MyCustomUploadAdapterPlugin]
                ckfinder: {
                    uploadUrl: '/image/loadImage'
                }
            });

            ClassicEditor.create(document.querySelector('#editor_content'), {
                // extraPlugins: [MyCustomUploadAdapterPlugin]
                ckfinder: {
                    uploadUrl: '/image/loadImage'
                }
            }).then().catch();

            var writer = $("#blog_writer").val();
            if (writer == '') {
                $("#blog_writer").val('罗炬');
            }
            $.getJSON("/json/category.json", function (data) {
                $.each(data, function (index, item) {
                    //使用纯js为select动态添加option
                    document.getElementById("sel").options.add(new Option(data[index].name, data[index].index));
                })
            });
        });
    </script>


</body>
</html>