<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>

    <!--Favicon -->R
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <!--Bootstrap.min css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

    <!--Icons css-->
    <link rel="stylesheet" th:href="@{/assets/css/icons.css}">

    <!--Style css-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--mCustomScrollbar css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}">

    <!--Sidemenu css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/toggle-menu/sidemenu.css}">

    <!--Morris css-->
    <link rel="stylesheet" th:href="@{/assets/plugins/morris/morris.css}">

</head>

<body class="app ">

<div id="spinner"></div>

<div id="app">
    <div class="main-wrapper">

        <div class="panelBar" th:replace="iframe::top-navigator"></div>

        <div class="panelBar" th:replace="iframe::left-navigator"></div>

        <div class="app-content">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/#}">博客分类</a></li>
                <li class="breadcrumb-item active" aria-current="page">添加分类</li>
            </ol>


            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>新建博客文章</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" th:action="@{/category/{action}(action=${action})}"
                                  method="post">
                                <div>
                                    <input type="hidden" name="id" th:value="${category.id}"/>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label">标题</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="name"
                                               th:value="${category.name}"
                                               th:field="*{category.name}"/>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <label class="col-md-1 col-form-label">分类编码</label>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               th:value="${category.num}"
                                               th:field="*{category.num}" type="number" name="number">
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panelBar" th:replace="iframe::foot"></div>


        </div>


    </div>

    <!--Jquery.min js-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>

    <!--popper js-->
    <script th:src="@{/assets/js/popper.js}"></script>

    <!--Tooltip js-->
    <script th:src="@{/assets/js/tooltip.js}"></script>

    <!--Bootstrap.min js-->
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

    <!--Jquery.nicescroll.min js-->
    <script th:src="@{/assets/plugins/nicescroll/jquery.nicescroll.min.js}"></script>

    <!--Scroll-up-bar.min js-->
    <script th:src="@{/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js}"></script>

    <!--Sidemenu js-->
    <script th:src="@{/assets/plugins/toggle-menu/sidemenu.js}"></script>

    <!--mCustomScrollbar js-->
    <script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js}"></script>

    <!--Scripts js-->
    <script th:src="@{/assets/js/scripts.js}"></script>

    <script>
        $(function () {

        });
    </script>

</body>
</html>