<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    templatename::selector：”::”前面是模板文件名，后面是选择器
    ::selector：只写选择器，这里指fragment名称，则加载本页面对应的fragment
    templatename：只写模板文件名，则加载整个页面
-->
<div class="panelBar" th:fragment="top-navigator">
    <!-- 上方导航栏 -->
    <nav class="navbar navbar-expand-lg main-navbar">
        <a class="header-brand" th:href="@{index.html}">
            <img th:src="@{/assets/img/brand/logo.png}" class="header-brand-img" alt="Manager  logo">
        </a>
        <form class="form-inline mr-auto">
            <ul class="navbar-nav mr-3">
                <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                        class="ion ion-navicon-round"></i></a></li>
                <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i
                        class="ion ion-search"></i></a></li>
            </ul>
            <div class="search-element">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
            </div>
        </form>
        <ul class="navbar-nav navbar-right">
            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                         class="nav-link notification-toggle nav-link-lg beep"><i
                    class="ion-ios-email-outline"></i></a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">Messages
                        <div class="float-right">
                            <a href="#">View All</a>
                        </div>
                    </div>
                    <div class="dropdown-list-content">
                        <a href="#" class="dropdown-item dropdown-item-unread">
                            <img alt="image" th:src="@{assets/img/avatar/avatar-1.jpg}"
                                 class="rounded-circle dropdown-item-img">
                            <div class="dropdown-item-desc">
                                <div class="dropdownmsg d-flex">
                                    <div class="">
                                        <b>Stewart Ball</b>
                                        <p>Your template awesome</p>
                                    </div>
                                    <div class="time">6 hours ago</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                         class="nav-link  nav-link-lg beep"><i
                    class="ion-ios-bell-outline"></i></a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">Notifications
                        <div class="float-right">
                            <a href="#">View All</a>
                        </div>
                    </div>
                    <div class="dropdown-list-content">
                        <a href="#" class="dropdown-item">
                            <i class="fa fa-users text-primary"></i>
                            <div class="dropdown-item-desc">
                                <b>So many Users Visit your template</b>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown dropdown-list-toggle">
                <a href="#" class="nav-link nav-link-lg full-screen-link">
                    <i class="ion-arrow-expand" id="fullscreen-button"></i>
                </a>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                <img th:src="@{/assets/img/avatar/avatar-1.jpg}" alt="profile-user" class="rounded-circle w-32">
                <div class="d-sm-none d-lg-inline-block">Dunk Luo</div>
            </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="profile.html" class="dropdown-item has-icon">
                        <i class="ion ion-android-person"></i> Profile
                    </a>
                    <a href="profile.html" class="dropdown-item has-icon">
                        <i class="ion-android-drafts"></i> Messages
                    </a>
                    <a href="profile.html" class="dropdown-item has-icon">
                        <i class="ion ion-gear-a"></i> Settings
                    </a>
                    <a href="/logout" class="dropdown-item has-icon">
                        <i class="ion-ios-redo"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>




<!--页脚-->
<div class="panelBar" th:fragment="foot">
    <footer class="main-footer">
        <div class="text-center">
            Copyright &copy;LuoJu 2019. Design By <a href="https://github.com/Foolmouse">LuoJu</a>
        </div>
    </footer>
</div>

</body>
</html>