<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kharna-Admin Dashboard</title>

		<!--Favicon -->
		<link rel="icon" th:href="@{assets/img/favicon.ico}" type="image/x-icon"/>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" th:href="@{assets/plugins/bootstrap/css/bootstrap.min.css}">

		<!--Icons css-->
		<link rel="stylesheet" th:href="@{assets/css/icons.css}">

		<!--Style css-->
		<link rel="stylesheet" th:href="@{assets/css/style.css}">

		<!--mCustomScrollbar css-->
		<link rel="stylesheet" th:href="@{assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}">

		<!--Sidemenu css-->
		<link rel="stylesheet" th:href="@{assets/plugins/toggle-menu/sidemenu.css}">

		<!--Chartist css-->
		<link rel="stylesheet" th:href="@{assets/plugins/chartist/chartist.css}">
		<link rel="stylesheet" th:href="@{assets/plugins/chartist/chartist-plugin-tooltip.css}">

		<!--Full calendar css-->
		<link rel="stylesheet" th:href="@{assets/plugins/fullcalendar/stylesheet1.css}">
		
		<!--morris css-->
		<link rel="stylesheet" th:href="@{assets/plugins/morris/morris.css}">


	</head>

	<body class="app ">

		<div id="spinner"></div>

		<div id="app">
			<div class="main-wrapper" >

				<!-- 上方导航栏 -->
				<nav class="navbar navbar-expand-lg main-navbar">
					<a class="header-brand" th:href="@{index.html}">
						<img th:src="@{assets/img/brand/logo.png}" class="header-brand-img" alt="Kharna-Admin  logo">
					</a>
					<form class="form-inline mr-auto">
						<ul class="navbar-nav mr-3">
							<li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
							<li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i class="ion ion-search"></i></a></li>
						</ul>
						<div class="search-element">
							<input class="form-control" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
						</div>
					</form>
					<ul class="navbar-nav navbar-right">
						<li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion-ios-email-outline"></i></a>
							<div class="dropdown-menu dropdown-list dropdown-menu-right">
								<div class="dropdown-header">Messages
									<div class="float-right">
										<a href="#">View All</a>
									</div>
								</div>
								<div class="dropdown-list-content">
									<a href="#" class="dropdown-item dropdown-item-unread">
										<img alt="image" th:src="@{assets/img/avatar/avatar-1.jpeg.jpg}" class="rounded-circle dropdown-item-img">
										<div class="dropdown-item-desc">
											<div class="dropdownmsg d-flex">
												<div class="">
													<b>Stewart Ball</b>
													<p>Your template awesome</p>
												</div>
												<div class="time">6 hours ago</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</li>
						<li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link  nav-link-lg beep"><i class="ion-ios-bell-outline"></i></a>
							<div class="dropdown-menu dropdown-list dropdown-menu-right">
								<div class="dropdown-header">Notifications
									<div class="float-right">
										<a href="#">View All</a>
									</div>
								</div>
								<div class="dropdown-list-content">
									<a href="#" class="dropdown-item">
										<i class="fa fa-users text-primary"></i>
										<div class="dropdown-item-desc">
											<b>So many Users Visit your template</b>
										</div>
									</a>
								</div>
							</div>
						</li>
						<li class="dropdown dropdown-list-toggle">
							<a href="#" class="nav-link nav-link-lg full-screen-link">
								<i class="ion-arrow-expand"  id="fullscreen-button"></i>
							</a>
						</li>
						<li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
							<img th:src="@{assets/img/avatar/avatar-1.jpeg.jpg}" alt="profile-user" class="rounded-circle w-32">
							<div class="d-sm-none d-lg-inline-block">Jessica Lee</div></a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="profile.html" class="dropdown-item has-icon">
									<i class="ion ion-android-person"></i> Profile
								</a>
								<a href="profile.html" class="dropdown-item has-icon">
									<i class="ion-android-drafts"></i> Messages
								</a>
								<a href="profile.html" class="dropdown-item has-icon">
									<i class="ion ion-gear-a"></i> Settings
								</a>
								<a href="/logout" class="dropdown-item has-icon">
									<i class="ion-ios-redo"></i> Logout
								</a>
							</div>
						</li>
					</ul>
				</nav>

				<!-- 左侧导航栏 -->
				<aside class="app-sidebar">
					<div class="app-sidebar__user">
					    <div class="dropdown">
							<a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
								<img alt="image" th:src="@{assets/img/avatar/avatar-1.jpeg.jpg}" class=" avatar-md rounded-circle">
								<span class="ml-2 d-lg-block">
									<span class="text-white app-sidebar__user-name mt-5">Jessica Lee</span><br>
									<span class="text-muted app-sidebar__user-name text-sm"> Web-Designer</span>
								</span>
							</a>
						</div>
					</div>
					<ul class="side-menu">
						<li class="slide">
							<a class="side-menu__item"  data-toggle="slide" href="#"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">Dashboard</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a class="slide-item"  href="index.html"><span>Dashboard 01</span></a></li>
								<li><a class="slide-item" href="index2.html"><span>Dashboard 02</span></a></li>
								<li><a class="slide-item" href="index3.html"><span>Dashboard 03</span></a></li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-table"></i><span class="side-menu__label">Tables</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="/index/portalLog" class="slide-item">门户访问日志</a></li>
								<li><a href="/index/loginLog" class="slide-item">后台操作日志</a></li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-file-text"></i><span class="side-menu__label">Forms</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="/index/addBlog" class="slide-item">添加博客</a></li>
								<li><a href="/index/blogList" class="slide-item">博客管理</a></li>
								<li><a href="formadvanced.html" class="slide-item"> Advanced Form</a></li>
								<li><a href="formeditor.html" class="slide-item"> Form Editor</a></li>
							</ul>
						</li>

					</ul>
				</aside>

				<div class="app-content">
					<section class="section">
                    	<ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item active text-" aria-current="page">Dashboard 01</li>
                        </ol>

						<div class="row">
							<div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<div class="dash1">
													<h4 class="text-dark">675</h4>
													<small class="text-muted ">Posts</small>
												</div>
											</div>
											<div class="col-6">
												<div id="chart1" class="overflow-hidden"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<div class="dash1">
													<h4 class="text-dark">875</h4>
													<small class="text-muted">Clicks</small>
												</div>
											</div>
											<div class="col-6">
												<div id="chart2" class="overflow-hidden"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<div class="dash1">
													<h4 class="text-dark">976</h4>
													<small class="text-muted">Shares</small>
												</div>
											</div>
											<div class="col-6">
												<div id="chart3" class="overflow-hidden"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<div class="dash1">
													<h4 class="text-dark">418</h4>
													<small class="text-muted">Remarks</small>
												</div>
											</div>
											<div class="col-6">
												<div id="chart4" class="overflow-hidden"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--
						<div class="row ">
							<div class="col-lg-12 col-xl-6 col-md-12 col-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>Monthly Sales</h4>
									</div>
									<div class="card-body">
										<div id="bar-chart" class="overflow-hidden" > </div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-xl-6 col-md-12 col-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>Yearly Template Sales</h4>
									</div>
									<div class="card-body">
										<div id="sales-chart" class="overflow-hidden"> </div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>Account Retention</h4>
									</div>
									<div class="card-body">
										<div id="index" class="overflow-hidden h-400 mx-auto text-center " ></div>
									</div>
								</div>
							</div>
						</div>
						-->

						<div class="row">
							<!-- 写死天气 -->
							<!--<div class="col-lg-12 col-xl-8 col-md-12 col-12 col-sm-12">
								<div class="card">
								<div class="pt-0 pb-0 pl-3 pr-3 card-body">
									<div class="row">
										<div class="col-xs-12 col-lg-5 cover-image weather-radius text-center position-relative transparent" data-image-th:src="@{assets/img/weather.jpg">
											<div class="weather-shade">
												<i class="wi wi-day-sleet text-white"></i>
											</div>
											<div class="card-body mt-5 pt-5">
												<i class="vl_weather-day-rain text-light  mt-5 pt-5 d-block"></i>
											</div>
											<div class="bg-transparent border-0 text-light  pt-4">
												<h3 class="weight300">Sunny Day</h3>
											</div>
										</div>
										<div class="col-xs-12 col-lg-7 widgetb p-0">
											<div class="card-body p-4">
												<h4 class="mb-0">MONDAY <br/>
													<span class="text-muted h5"> 22  October</span>
												</h4>
												<div class="fs-45 text-primary pt-4 ">
													32<sup>o</sup>
													<span class="h3 ">Sunny</span>
												</div>
											</div>
											<div class="card-footer bg-white text-center ">
												<div class="row">
													<div class="col-sm-2 col-4 mt-2 pb-2">
														<h6 class="text-muted mb-3">TUE</h6>
														<i class="fe fe-cloud-rain"></i>
														<p class="mb-0 text-muted">18<sup>o</sup>c</p>
													</div>
													<div class="col-sm-2 col-4 mt-2 pb-2">
														<h6 class="text-muted mb-3">WED</h6>
														<i class="fe fe-cloud"></i>
														<p class="mb-0 text-muted">22<sup>o</sup>c</p>
													</div>
													<div class="col-sm-2 col-4 mt-2 pb-2">
														<h6 class="text-muted mb-3">THU</h6>
														<i class="fe fe-cloud-snow"></i>
														<p class="mb-0 text-muted">15<sup>o</sup>c</p>
													</div>
													<div class="col-sm-2 col-4 mt-2 pb-2">
														<h6 class="text-muted mb-3">FRI</h6>
														<i class="fe fe-cloud-rain"></i>
														<p class="mb-0 text-muted">19<sup>o</sup>c</p>
													</div>
													<div class="col-sm-2 col-4 mt-2 pb-2">
														<h6 class="text-muted mb-3">SAT</h6>
														<i class="fe fe-cloud"></i>
														<p class="mb-0 text-muted">29<sup>o</sup>c</p>
													</div>
													<div class="col-sm-2 col-4 mt-2 pb-2">
														<h6 class="text-muted mb-3">SUN</h6>
														<i class="fe fe-cloud-snow"></i>
														<p class="mb-0 text-muted">17<sup>o</sup>c</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>-->
							<!-- 日历 -->
							<div class="col-lg-12 col-xl-4 col-md-12 col-12 col-sm-12">
								<div class="card">
									<div id="calendar-1"></div>
								</div>
							</div>
						</div>

					</section>
				</div>

				<footer class="main-footer">
					<div class="text-center">
						Copyright &copy;Kharna-Admin 2018. Design By更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
					</div>
				</footer>

			</div>
		</div>

		<!--Jquery.min js-->
		<script th:src="@{assets/js/jquery.min.js}"></script>

		<!--popper js-->
		<script th:src="@{assets/js/popper.js}"></script>

		<!--Tooltip js-->
		<script th:src="@{assets/js/tooltip.js}"></script>

		<!--Bootstrap.min js-->
		<script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

		<!--Jquery.nicescroll.min js-->
		<script th:src="@{assets/plugins/nicescroll/jquery.nicescroll.min.js}"></script>

		<!--Scroll-up-bar.min js-->
		<script th:src="@{assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js}"></script>

		<!--Sidemenu js-->
		<script th:src="@{assets/plugins/toggle-menu/sidemenu.js}"></script>

		<!--mCustomScrollbar js-->
		<script th:src="@{assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js}"></script>

		<!-- ECharts -->
		<script th:src="@{assets/plugins/echarts/dist/echarts.js}"></script>

		<!--Min Calendar -->
		<script th:src="@{assets/plugins/fullcalendar/calendar.min.js}"></script>
		<script th:src="@{assets/plugins/fullcalendar/custom_calendar.js}"></script>

		<!--Morris js-->
		<script th:src="@{assets/plugins/morris/morris.min.js}"></script>
		<script th:src="@{assets/plugins/morris/raphael.min.js}"></script>

		<!--Scripts js-->
		<script th:src="@{assets/js/scripts.js}"></script>

		<!--Dashboard js-->
		<script th:src="@{assets/js/dashboard.js}"></script>
		<script th:src="@{assets/js/apexcharts.js}"></script>
	</body>
</html>
